# Temporary latex files
*.aux
*.lof
*.log
*.lol
*.lot
*.out
*.synctex.gz
*.toc

# LTSpice output files
*.fft
*.net
*.plt
*.prn
*.ps
*.raw
*.txt
*.wmf

# PDF outputs
hs15/powercan/transmit/doc/doc.pdf

# VIM temporary files
*.swp
