# Temporary latex files
*.aux
*.lof
*.log
*.lol
*.lot
*.out
*.synctex.gz
*.toc

# LTSpice output files
*.net
*.plt
*.raw

# PDF outputs
hs15/powercan/transmit/doc/doc.pdf

# VIM temporary files
*.swp
