# Temporary latex files
*.aux
*.lof
*.log
*.lol
*.lot
*.out
*.synctex.gz
*.toc

# LTSpice output files
*.fft
*.net
*.plt
*.prn
*.ps
*.raw
*.txt
*.wmf

# PDF outputs
hs15/powercan/transmit/doc/doc.pdf
hs15/fillcap/mess/mess*.pdf
hs15/fillcap/doc/fillcap_doc.pdf

# VIM temporary files
*.swp

# Altium Designer
hs15/fillcap/pcb/__Previews
hs15/fillcap/pcb/History
